.container9{
    background-color: #03d41c;
}
.main9{
    padding: 60px 5%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.main9_div{
    text-align: center;
    width: calc(25% - 20px);
}
.main9_div i{
    font-size: 50px;
    color: #fff;
}

.main9_div h3{
    margin-top: 15px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
}

.main9_div p{
    margin-top: 10px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: .06em;
    text-transform: uppercase;
    color: #fff;
}