.main4{
    padding: 100px 0;
    width: 100%;
}
.main4 h4{
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    color: #333;
    letter-spacing: .5px;
}
.line3{
    border-bottom: 1px solid #03d41c;
    width: 70px;
    margin: 15px auto 40px;
}
.main_item4{
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}
.main_item4_img{
    padding-right: 0;
    padding-left: 0;
    flex: 0 0 25%;
    max-width: 25%;
    transition: .4s;
}
.main_item4_img img{
    object-fit: cover;
    width: 100%;
    height: 50vh;
    transition: .2s;
}

.main_item4_img img:hover{
    transform: scale(1.1);
    
}

.main_item4_img:hover img {
    filter: brightness(60%);
}